@{
    ViewBag.Title = "General Store Home Page";
}

    <div class="jumbotron">
        <h1>GeneralStore.MVC</h1>
        <p class="lead">GeneralStore.MVC is an app that allows users to create Products, Customers, and Transactions, which will combine the two existing models. </p>
        @Html.ActionLink("Learn More About Us", "About", null, new { @class = "btn btn-info btn-large" })
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Our customers are the heart of our business. Click here to add or edit a Customer.</p>
        @Html.ActionLink("Check Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>Find and manage transactions. Click here to start working with transactions now!</p>
        @Html.ActionLink("Check Transactions", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>