@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"> 
    <h1>GeneralStore.MVC</h1>
    <p class="lead">GeneralStore.MVC is an app that allows users to create Products, Customers, and Transactions, which will combine the two existing models. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started!</h2>
        <p>
            Click on the navbar button link to Create a Product or click below on the button that says Create a Product.
        </p>
        <p><a class="btn btn-default" href="/Products/Index">Create a Product &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Click here to get more information!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in touch</h2>
        <p>Click here to contact the owners of GeneralStore.MVC with your comments/concerns.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>