@{
    ViewBag.Title = "General Store Home Page";
}

    <div class="jumbotron">
        <h1>GeneralStore.MVC</h1>
        <p class="lead">GeneralStore.MVC is an app that allows users to create Products, Customers, and Transactions, which will combine the two existing models. </p>
        @Html.ActionLink("Learn More About Us", "About")
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Click here to get more information!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in touch</h2>
        <p>Click here to contact the owners of GeneralStore.MVC with your comments/concerns.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>